# {{ ansible_managed }}
{%- macro write_entry(suite, release_path) %}
{{- fmtstr|format('deb', mirror, suite, release, release_path, components) }}
{%- if gen_sources %}

{{ fmtstr|format('deb-src', mirror, suite, release, release_path, components) }}
{%- endif %}
{%- endmacro %}

{%- macro write_additional_entries() %}
{% if additional_source_strings|length >= 1 %}

## Additional repositories
{% for repo in additional_source_strings %}
{{ repo }}
{% endfor %}
{% endif %}
{%- endmacro %}


{%- if not apt_sources_only_additional %}
{%- if ansible_distribution == 'Debian' %}

{% set mirror = apt_sources_debian.mirror|default(apt_sources_debian_mirror) %}
{% set release = apt_sources_debian.release|default(ansible_distribution_release) %}
{% set components = apt_sources_debian.components|default(apt_sources_debian_components)|join(' ') %}
{% set gen_sources = apt_sources_debian.enable_sources|default(apt_sources_debian_enable_sources) %}
{% set additional_source_strings = apt_sources_debian.additional_source_strings|default(apt_sources_debian_additional_source_strings)|default(apt_sources_additional_source_strings) %}
{%- if gen_sources %}
	{%- set fmtstr='%-7s %s%s %s%s %s' %}
{%- else %}
	{%- set fmtstr='%-3s %s%s %s%s %s' %}
{%- endif %}

## Main repositories
{{ write_entry('debian/', '') }}
{% if apt_sources_debian.security_repo|default(apt_sources_debian_security_repo) %}
	{{- write_entry('debian-security/', '/updates') }}
{% endif %}
{% if apt_sources_debian.update_repo|default(apt_sources_debian_update_repo) %}
	{{- write_entry('debian/', '-updates') }}
{% endif %}
{% if apt_sources_debian.backports|default(apt_sources_debian_backports) %}
	{{- write_entry('debian/', '-backports') }}
{% endif %}
{{ write_additional_entries() }}

{%- else %}{# Ubuntu or ubuntu based #}

{% set mirror = apt_sources_ubuntu.mirror|default(apt_sources_ubuntu_mirror) %}
{% set release = apt_sources_ubuntu.release|default(ansible_distribution_release) %}
{% set components = apt_sources_ubuntu.components|default(apt_sources_ubuntu_components)|join(' ') %}
{% set gen_sources = apt_sources_ubuntu.enable_sources|default(apt_sources_ubuntu_enable_sources) %}
{% set additional_source_strings = apt_sources_ubuntu.additional_source_strings|default(apt_sources_ubuntu_additional_source_strings)|default(apt_sources_additional_source_strings) %}
{%- if gen_sources %}
	{%- set fmtstr='%-7s %s%s %s%s %s' %}
{%- else %}
	{%- set fmtstr='%-3s %s%s %s%s %s' %}
{%- endif %}

## Main repositories
{{ write_entry('ubuntu/', '') }}
{% if apt_sources_ubuntu.security_repo|default(apt_sources_ubuntu_security_repo) %}
	{{- write_entry('ubuntu/', '-security') }}
{% endif %}
{% if apt_sources_ubuntu.update_repo|default(apt_sources_ubuntu_update_repo) %}
	{{- write_entry('ubuntu/', '-updates') }}
{% endif %}
{% if apt_sources_ubuntu.proposed|default(apt_sources_ubuntu_proposed) %}
	{{- write_entry('ubuntu/', '-proposed') }}
{% endif %}
{% if apt_sources_ubuntu.backports|default(apt_sources_ubuntu_backports) %}
	{{- write_entry('ubuntu/', '-backports') }}
{% endif %}
{{ write_additional_entries() }}

{%- endif %}{# if ansible_distribution == 'ubuntu' #}
{%- endif %}{# if not apt_sources_only_additional #}
